{% extends 'base.html.twig' %}
{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/modals.html.twig' import modal_deletion %}
{% from 'macros/order.html.twig' import order_card %}

{% block title %}Client{% endblock %}

{% block body %}
    <main>
        <header class="page-wrapper">
            <div>
                <h1>{{ customer.name }}</h1>
                {{ breadcrumb('Clients', customer.name) }}
            </div>
        </header>
        <section class="page-wrapper">
            <div>
                <h2>Détails</h2>
            </div>
            <div>
                <p>Email : {{ customer.email }}</p>
            </div>
        </section>
        <section class="page-wrapper">
            <div>
                <h2>Commandes</h2>
            </div>
            <div>
                {% if orders | length > 0 %}
                    {% for order in orders %}
                        {{ order_card(order) }}
                    {% endfor %}
                {% else %}
                    <p>Ce client n'a encore réalisée aucun achat.</p>
                {% endif %}
            </div>
        </section>
        <section class="page-wrapper">
            <div>
                <h2>Danger</h2>
            </div>
            <div>
                <button class="button button-destructive" id="delete-user">Supprimer {{ customer.name }}</button>
                {{ modal_deletion('modal_deletion', customer.name, '/customer/delete?customerId=' ~ customer.id) }}
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="/assets/js/customer.js"></script>
{% endblock %}