{% extends 'base.html.twig' %}
{% from 'macros/breadcrumb.html.twig' import breadcrumb %}
{% from 'macros/modals.html.twig' import modal_deletion %}

{% block title %}Produit{% endblock %}

{% block body %}
    <main>
        <header class="page-wrapper">
            <div>
                <h1>{{ product.name }}</h1>
                {{ breadcrumb('Produits, ' ~ product.category, product.name) }}
            </div>
        </header>
        <section class="page-wrapper">
            <div>
                <h2>Détails</h2>
            </div>
            <div>
                <p>Dénomination : {{ product.name }}</p>
                <p>Catégorie : {{ product.category }}</p>
                <p>Prix : {{ product.price }} €</p>
            </div>
        </section>
        {% if product.category is same as "Textile" %}
        <section class="page-wrapper">
            <div>
                <h2>Textile</h2>
            </div>
            <div>
                <p>Taille {{ product.size }}</p>
            </div>
        </section>
        {% endif %}
        {% if product.category is same as "Alimentaire" %}
            <section class="page-wrapper">
                <div>
                    <h2>Alimentaire</h2>
                </div>
                <div>
                    <p>DLC {{ product.dateExpiration | date("d/m/Y") }}</p>
                    <p>Produit périmée : {% if product.isPerimee %}Oui{% else %}Non{% endif %}</p>
                </div>
            </section>
        {% endif %}
        {% if product.category is same as "Electromenager" %}
            <section class="page-wrapper">
                <div>
                    <h2>Electroménager</h2>
                </div>
                <div>
                    <p>Fin de garantie {{ product.guarantee | date("d/m/Y") }}</p>
                </div>
                {% if product.isGuarantee %}
                    <div>
                        <h3>Gestion de la garantie</h3>
                    </div>
                    <div>
                        <button class="button button-primary">Augmenter la garantit</button>
                        <button class="button button-ghost">Annuler la garantit</button>
                    </div>
                {% else %}
                <div>
                    <p>La garantit du produit est expirée.</p>
                </div>
                {% endif %}
            </section>
        {% endif %}
        <section class="page-wrapper">
            <div>
                <h2>Danger</h2>
            </div>
            <div>
                <button class="button button-destructive" id="delete-user">Supprimer {{ product.name }}</button>
                {{ modal_deletion('modal_deletion', product.name, '/product/delete?productId=' ~ product.id) }}
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="/assets/js/customer.js"></script>
{% endblock %}