{% macro product_card(product) %}
    <div class="product">
        <div>
            <h3>{{ product.nom }}</h3>
            <p>{{ product.prix }} €</p>
        </div>
        <div>
            <p>{{ product.categorie }}</p>
            <p>{{ product.quantite }} en stock</p>
            {% if product.categorie is same as "Textile" %}
                <p>Taille {{ product.taille }}</p>
            {% endif %}
            {% if product.categorie is same as "Alimentaire" %}
            <p>DLC {{ product.dateExpiration | date('d/m/Y') }}</p>
            {% endif %}
            {% if product.categorie is same as "Electromenager" %}
                <p>Garantie {{ product.guarantie | date('d/m/Y') }}</p>
            {% endif %}
        </div>
        <div>
            <a href="/product/{{ product.id }}" class="button button-primary">Détails</a>
        </div>
    </div>
{% endmacro %}